table ,tr,td{
    border: solid 1px;
    font: white;
}

#center{
    margin-left: auto;
    margin-right:auto;
}
body{
    background: url(resimler/nehir.jpg);
    background-position: top;
        background-size: cover;
}
a{
    width: 42px;
    height: 42px;
}