
 *{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.main-header{
    background-color: yellow;
    padding: 10px 20px;
}
.main-header-logo{
    text-decoration: none;
    color: red;
    font-size: 20px;
}
.main-nav{
    display: inline-block;
    text-align: right;
    width: calc(100% - 100px);
}
.main-nav-items{
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
}
.main-nav-item{
    margin: 0 10px;
    display: inline-block;
    
}
.main-nav-item a{
    text-decoration: none;    
    color: brown;
}
.middle{
    height: 400px;
    background: url(resimler/nehir.jpg);
    color: red;
}
.middle-education{
    display: inline-block;
    height: 100%;
    width: 49%;
    /* background-color: #118ab2; */
}

.middle-language{
    display: inline-block;
    height: 100%;
    width: 49%;
    /* background-color: #ef476f; */
}
.container{
    display: flex;
    background-color: #4361ee;
    padding: 15px;
    justify-content: center;
}
.container-item{
    margin: 20px;
}
.container-item img{
    width: 42px;
    height: 42px;
}
.hak h2{
    text-align: center;
}

/* .center {
    display:block;
    text-align: center;
    color: white;
}  */

