/* table ,tr,td{
    border: solid 1px;
    width: 400px;
}
.yazi 
{
    color: white;
}

#center{
    margin-left: auto;
    margin-right:auto;
} */
body{
    
    background-color: white;
    padding: 15px;
    /* background: url(resimler/nehir.jpg);
    background-position: top;
        background-size: cover; */
}
.first{
    background-color: gray;
    padding: 15px;
}
.content{
    /* background: url(resimler/nehir.jpg); */
    background-color: aqua;
}
a{
    width: 42px;
    height: 42px;
}